.container {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: rgb(50, 168, 102);
  z-index: 88;
}
.name {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.heading-left {
  display: flex;
  justify-content: space-between;
  width: 22rem;
}

.logo {
  padding-top: 1rem;
  padding-left: 7rem;
  width: 3rem;
  height: 3rem;
}

.nav {
  padding-top: 0.7rem;
  padding-right: 8rem;
}

.name:hover {
  cursor: pointer;
}

.logoGroup {
  justify-content: center;
  align-items: center;
  display: flex;
}

h2 {
  display: inline;
  font-weight: bold;
}