.div {
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  padding: 1rem;
  margin: 0 auto;
}

.title {
  font-family: "Montserrat", sans-serif;
}
